---
layout: default
---
<h1 id="about">About</h1>

<!-- <p style="font-size:18px; color:black">
    <b>Incoming PhD at UMich in Fall 2024!! </b>
    <br> 
    <b>Thank you to everyone who supported and helped me during the application season!</b>
</p> -->

<p style="font-size:18px">
    I am a Masters student in Electrical and Computer Engineering (Robotics track) at the University of Michigan, 
    where I work with Prof. <a href="https://robotics.umich.edu/people/faculty/ram-vasudevan/" target="_blank">Ram Vasudevan</a> in the <a href="https://www.roahmlab.com/" target="_blank">ROAHM Lab</a> 
    on physical accurate 3D scene reconstruction. 
</p>
<!-- 
    I am broadly interested in robotics <b>perception, planning and control</b>, with a focus on developing efficient and deployable algorithms for <b>mobile robots</b>.
 -->
<p style="font-size:18px">
    My research interests include robust robot perception and planning, and human-level perception and understanding for robots. 
    Specifically, my current research focuses on combining robot vision and interactions to autonomously construct 3D representations 
    enriched with both visual and physical properties, enabling robust real-world robot operation with such representations.
</p>

<!-- <h1 id="news">News</h1>
{% include news.html %} -->

<h1 id="experience">Experience</h1>
{% include experience.html %}

<h1 id="education">Education</h1>
{% include education.html %}

<h1 id="hon">Honors & Awards</h1>
{% include awards.html %}

<!-- <h1 id="project">Selected Projects</h1>
{% include projects.html %} -->

<!-- Let's keep Publications and Patents adjacent  -->
<!-- <h1 id="publication">Publications</h1> -->
<!-- include publications.html -->
<!-- <h1 id="pat">Patents</h1> -->
<!-- include patents.html -->

<!-- ! make images in zoom class clickable -->
<div id="image-cover-modal" class="image-cover-modal">
  <img id="image-cover-image" class="image-cover-modal-content">
  <!-- <div id="image-cover-caption"></div> -->
</div>

<script src="assets/js/img_zoom.js"></script>
