---
layout: default
---
<h1 id="about">About</h1>

<!-- <p style="font-size:18px; color:black">
    <b>Incoming PhD at UMich in Fall 2024!! </b>
    <br> 
    <b>Thank you to everyone who supported and helped me during the application season!</b>
</p> -->

<p style="font-size:18px">
    I am a Master's student in Electrical and Computer Engineering (Robotics track) at the University of Michigan (<a href="https://umich.edu/" target="_blank">U-M</a>), 
    where I work with Professor <a href="https://robotics.umich.edu/people/faculty/ram-vasudevan/" target="_blank">Ram Vasudevan</a> in the <a href="https://www.roahmlab.com/" target="_blank">ROAHM Lab</a> 
    on physically grounded 3D scene reconstruction. 
</p>

<p style="font-size:18px">
    Before that, I earned dual Bachelor's degrees from National Taiwan University (<a href="https://www.ntu.edu.tw/english/" target="_blank">NTU</a>), double majoring in Mechanical Engineering and Physics. 
    My undergraduate research experience includes intelligent elderly-care robotics, adviced by Professor <a href="https://robotlab.csie.ntu.edu.tw/about/professor" target="_blank">Li-Chen Fu</a> at Advanced Control Laboratory (<a href="https://www.ntueeacl.com/" target="_blank">ACL</a>),
    and computational astrophysics with Dr. <a href="https://www.asiaa.sinica.edu.tw/people/cv.php?i=shang" target="_blank">Hsien Shang</a> at Academia Sinica, Institute of Astonomy and Astrophysics (<a href="https://www.asiaa.sinica.edu.tw/" target="_blank">ASIAA</a>). 
</p>
<!-- 
    I am broadly interested in robotics <b>perception, planning and control</b>, with a focus on developing efficient and deployable algorithms for <b>mobile robots</b>.
 -->
<p style="font-size:18px">
    My research interests lie in <b>robust robot perception and planning</b>, 
    with a focus on developing algorithms that enable robots to achieve <b>human-level perception and understanding of their environments</b>. 
    Specifically, my current research explores the integration of robot vision and physical interaction with surrounding environments 
    to autonomously construct <b>3D scene representations that encode both visual and physical properties</b>. 
    In the long term, I aim to develop methods that leverage such representations to enhance robot autonomy, 
    enabling more robust planning and reliable operation in real-world environments.
</p>

<h1 id="news">News</h1>
{% include news.html %}


<h1 id="publication">Publications, Presentations, & Workshop Papers</h1>
{% include publications.html %}


<h1 id="project">Selected Projects</h1>
{% include projects.html %}

<!-- Let's keep Publications and Patents adjacent  -->


<h1 id="experience">Experience</h1>
{% include experience.html %}

<h1 id="education">Education</h1>
{% include education.html %}

<h1 id="hon">Honors & Awards</h1>
{% include awards.html %}

<!-- <h1 id="pat">Patents</h1> -->
<!-- include patents.html -->

<!-- ! make images in zoom class clickable -->
<div id="image-cover-modal" class="image-cover-modal">
  <img id="image-cover-image" class="image-cover-modal-content">
  <!-- <div id="image-cover-caption"></div> -->
</div>

<script src="assets/js/img_zoom.js"></script>
