<table class="award">
    <tbody>
        <!-- <tr>
            <td>
                <font style="font-size: medium;"><p class="award">Rackham Graduate School, UMich, Nov. 2025</p></font>
            </td>
            <td>
                <font color="black"><p class="award">Rackham International Student Fellowship</p></font>
            </td>
        </tr>
        <tr>
            <td>
                <font style="font-size: medium;"><p class="award">ASIAA, Jul. 2022</p></font>
            </td>
            <td>
                <font color="black"><p class="award">Academia Sinica Summer Undergraduate Research Fellowship</p></font>
            </td>
        </tr> -->
        <tr>
            <!-- <td>
                <font style="font-size: medium;"><p class="award">Nov. 2025</p></font>
            </td> -->
            <td>
                <font color="black"><p class="award">Rackham International Student Fellowship</p></font>
                <p style="font-size:16px">Rackham Graduate School, University of Michigan, Nov. 2025</p>
            </td>
        </tr>
        <tr>
            <!-- <td>
                <font style="font-size: medium;"><p class="award">Jul. 2022</p></font>
            </td> -->
            <td>
                <font color="black"><p class="award">Academia Sinica Summer Undergraduate Research Scholarship</p></font>
                <p style="font-size:16px">Academia Sinica, Institute of Astronomy and Astrophysics, Jul. 2022</p>
            </td>
        </tr>
        <!-- <tr>
            <td>
                <font style="font-size: medium;"><p class="award">Department of Physics and Astronomy, UNC, April 2023</p></font>
            </td>
            <td>
                <font color="black"><p class="award">Daniel C. Johnson Outstanding Junior Award</p></font>
                <p style="font-size:16px">Awarded annually to the most outstanding student judged by faculty committee.</p>
            </td>
        </tr>
        <tr>
            <td>
                <font style="font-size: medium;"><p class="award">Department of Undergraduate Research, UNC, May 2023</p></font>
            </td>
            <td>
                <font color="black"><p class="award">Summer Undergraduate Research Fellowship</p></font>
                <p style="font-size:16px">54 recipients at year 2023. $4000 fellowship granted.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="award">Nov 2019</p>
            </td>
            <td>
                <p class="award">Second Class of the Merit Student Scholarship</p>
            </td>
        </tr> -->
    </tbody>
</table>