<table class="experience">
  <tbody>
    <!-- <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>University of Michigan, US</b></font>
        <br>
        Aug. 2024 - Present, Ph.D. in Robotics
      </td>
    </tr> -->
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>University of Michigan, Ann Arbor</b></font>
        <br>
        Aug. 2024 - Present, M.S. in Electrical and Computer Engineering (Robotics)
      </td>
    </tr>
    <tr>
      <td>
        <img width="50" src="assets/img/ntu_logo.png">
      </td>
      <td>
        <font color="black"><b>National Taiwan University</b></font>
        <br>
        Sep. 2019 - Jun. 2023, B.S.E in Mechanical Engineering & B.S. in Physics
      </td>
    </tr>
  </tbody>
</table>
