<table class="experience">
  <tbody>
    <!-- !UMich -->
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>Graduate Research Assistant</b></font>
        <br>
        ROAHM (Robotics and Optimization for the Analysis of Human Motion) Lab, University of Michigan, Feb. 2025 - May 2026
      </td>
    </tr>
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>Graduate Research Assistant</b></font>
        <br>
        Barton Research Group, University of Michigan, Jan. 2025 - May 2025
      </td>
    </tr>
    <!-- !NTU -->
    <tr>
      <td>
        <img width="50" src="assets/img/ntu_logo.png">
      </td>
      <td>
        <font color="black"><b>Undergraduate Researcher</b></font>
        <br>
        Advanced Control Lab - Intelligent Robotics Group, National Taiwan University, Sep. 2022 - Aug. 2024
      </td>
    </tr>
    <!-- !ASIAA -->
    <tr>
      <td>
        <img width="50" src="assets/img/asiaa_logo.jpg">
      </td>
      <td>
        <font color="black"><b>Undergraduate Research Intern</b></font>
        <br>
        Academia Sinica, Institute of Astronomy and Astrophysics, Jul. 2022 - Jul. 2024
      </td>
    </tr>
    <!-- !ARRC -->
    <tr>
      <td>
        <img width="50" src="assets/img/ARRC_logo.png">
      </td>
      <td>
        <font color="black"><b>Rocket Avionics Hardware Engineer Summer Intern</b></font>
        <br>
        Advanced Rocket Research Center, Taiwan, Jul. 2021 - Sep. 2021
      </td>
    </tr>
  </tbody>
</table>
