<table class="experience">
  <tbody>
    <!-- !UMich -->
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>Graduate Research Assistant</b></font>
        <br>
        Aug. 2024 - Present, University of Michigan, Ann Arbor, MI, US
      </td>
    </tr>
    <!-- !PlusAI -->
    <!-- <tr>
      <td>
        <img width="50" src="assets/img/plusai.png">
      </td>
      <td>
        <font color="black"><b>Software Engineer Intern on Motion Planning</b></font>
        <br>
        May 2023 - Aug. 2023, PlusAI Inc., Santa Clara, CA, US
      </td>
    </tr> -->
    <!-- !NUS -->
    <!-- <tr>
      <td>
        <img width="50" src="assets/img/NUS_logo.png">
      </td>
      <td>
        <font color="black"><b>Visiting Student</b></font>
        <br>
        Aug. 2021 - Sep. 2021, National University of Singapore, Singapore
      </td>
    </tr> -->
    <!-- !NTU -->
    <tr>
      <td>
        <img width="50" src="assets/img/ntu_logo.png">
      </td>
      <td>
        <font color="black"><b>Undergraduate Researcher</b></font>
        <br>
        Sep. 2022 - Aug. 2024, National Taiwan University, Taipei, Taiwan
      </td>
    </tr>
    <!-- !ASIAA -->
    <tr>
      <td>
        <img width="50" src="assets/img/asiaa_logo.jpg">
      </td>
      <td>
        <font color="black"><b>Research Intern</b></font>
        <br>
        Jul. 2022 - Jul. 2024, Tsinghua University, Beijing, China
      </td>
    </tr>
    <!-- !ND -->
    <!-- <tr>
      <td>
        <img width="50" src="assets/img/logo-nd-square.png">
      </td>
      <td>
        <font color="black"><b>University of Notre Dame, US</b></font>
        <br>
        Jun 2020 - Aug 2020, Research Intern
      </td>
    </tr> -->
  </tbody>
</table>
