<div class="news-section">
  <table>
    <tbody>
      <tr>
        <td>
          <b>May 2025</b>
        </td>
        <td>
          Presented my work at ICRA 2025 in Atlanta, GA.
        </td>
      </tr>
      <tr>
        <td>
          <b>May 2025</b>
        </td>
        <td>
          Successfully passed the qualifying exam and advanced to candidacy.
        </td>
      </tr>
      <tr>
        <td>
          <b>Jan. 2025</b>
        </td>
        <td>
          One <a href="https://arxiv.org/abs/2503.05666" target="_blank">paper</a> has been accepted to ICRA 2025.
        </td>
      </tr>
      <tr>
        <td>
          <b>Apr. 2024</b>
        </td>
        <td>
          Started my PhD journey in <a href="https://sites.google.com/umich.edu/arcad-lab/home" target="_blank">ARCAD Lab</a>.
        </td>
      </tr>
    </tbody>
  </table>
</div>
