<div class="news-section">
  <table>
    <tbody>
      <tr>
        <td>
          <b>11/2025</b>
        </td>
        <td>
          Honored to received the <a href="https://rackham.umich.edu/funding/rackham-international-student-fellowships/" target="_blank">Rackham International Students Fellowship</a> 
          for the 2025-2026 academic year! 
          See the Department announcement <a href="https://ece.engin.umich.edu/stories/two-ece-graduate-students-awarded-rackham-international-student-fellowship" target="_blank">here</a>.
        </td>
      </tr>
      <tr>
        <td>
          <b>05/2025</b>
        </td>
        <td>
          Presented my work at ICRA 2025 in Atlanta, GA.
        </td>
      </tr>
      <!-- <tr>
        <td>
          <b>Jan. 2025</b>
        </td>
        <td>
          One <a href="https://arxiv.org/abs/2503.05666" target="_blank">paper</a> has been accepted to ICRA 2025.
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
