<div class="news-section">
  <table>
    <tbody>
      <tr>
        <td>
          <b>Nov. 2025</b>
        </td>
        <td>
          I was selected to receive the <a href="https://rackham.umich.edu/funding/rackham-international-student-fellowships/" target="_blank">Rackham International Students Fellowship</a>!
        </td>
      </tr>
      <tr>
        <td>
          <b>May 2025</b>
        </td>
        <td>
          Presented my work in the Late-Breaking Results Session and Workshop on The Future of Intelligent Manufacturing at ICRA 2025 in Atlanta, GA.
        </td>
      </tr>
      <!-- <tr>
        <td>
          <b>Jan. 2025</b>
        </td>
        <td>
          One <a href="https://arxiv.org/abs/2503.05666" target="_blank">paper</a> has been accepted to ICRA 2025.
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
