<!-- !Nezha Patent -->
<p style="font-size:18px;margin-bottom: 0px;">
  <font color="black">
    <b>Wheeled-Bipedal Robot</b>
  </font>
  <br>
  <font style="font-size:16px">
    [<a href="https://patents.google.com/patent/CN112977666A/en?inventor=%E5%BA%84%E5%AE%87%E4%BC%A6" target="_blank">
      PDF
    </a>]
    [<a href="assets/img/nezha_real.jpg" target="_blank">
      View Robot
    </a>]
  </font>
  <br>
  <i>China Patent</i> CN112977666A Jun 2021
  <br>
  W. Zhang, <b>Y. Zhuang</b>, <i>et al</i>.
</p>
<!-- <table class="projects">
  <tbody>
    <tr>
      <td style="margin-bottom: 20px;">
        <link rel="preload" as="image" href="assets/img/nezha_real.jpg" media="(max-width: 250px)">
        <img src="assets/img/v2-render.png" width="250" class="zoom" onmouseover="this.src='assets/img/nezha_real.jpg'"
          onmouseout="this.src='assets/img/v2-render.png'">
      </td>
      <td>
        [<a href="https://patents.google.com/patent/CN112977666A/en?inventor=%E5%BA%84%E5%AE%87%E4%BC%A6"
          target="_blank">
          PDF
        </a>]
        <br>
        <p>
          Mechatronics designed a wheeled-bipedal robot, integrated knee and hip motors by a four-bar linkage.
          Implemented the electric control system of the robot based on STM32 MCU and UpBoard with Linux.
          Received the Guangdong "Climbing Program" Special Funds (20,000 CNY).
        </p>
      </td>
    </tr>
  </tbody>
</table> -->

<!-- !Surface Vessels Patent -->
<p style="font-size:18px">
  <font color="black">
    <b>Connecting Structure and Multi-Hull Ship</b>
  </font>
  <br>
  <font style="font-size:16px">
    <img alt="GitHub Repo stars"
      src="https://img.shields.io/github/stars/silvery107/auto-docking-vessels?style=plastic&logo=github">
    [<a href="https://github.com/silvery107/auto-docking-vessels" target="_blank">
      Code
    </a>]
    [<a href="https://patents.google.com/patent/CN212637810U/en?oq=CN212637810U" target="_blank">
      PDF
    </a>]
    [<a href="assets/img/ship.png" target="_blank">
      View Robot
    </a>]
  </font>
  <br>
  <i>China Patent</i> CN212637810U Mar 2021
  <br>
  <b>Y. Zhuang</b>, W. Zhang, <i>et al</i>.
</p>
<!-- <table class="projects">
  <tbody>
    <tr>
      <td style="border: none;">
        <link rel="preload" as="image" href="assets/img/ship.png" media="(max-width: 250px)">
        <img src="assets/img/ship_render.JPG" width="250" class="zoom" onmouseover="this.src='assets/img/ship.png'"
          onmouseout="this.src='assets/img/ship_render.JPG'">
      </td>
      <td style="border: none;">
        [<a href="https://github.com/silvery107/auto-docking-vessels" target="_blank">
          Code
        </a>]
        [<a href="assets/videos/ship.mp4" target="_blank">
          Video
        </a>]
        [<a href="https://patents.google.com/patent/CN212637810U/en?oq=CN212637810U" target="_blank">
          PDF
        </a>]
        <br>
        <p>
          Designed hybrid-connection autonomous floating vessels.
          Applied servo motors to switch between rigid ball-socket connections and flexible cable connections.
          Implemented closed-loop speed control using Kalman filter to estimate the body speed from the IMU and GPS
          data.
          Received National Innovation and Entrepreneurship Training Program Funds (10,000 CNY).
        </p>
      </td>
    </tr>
  </tbody>
</table> -->
