<!-- !Sense, Imagine, Act -->
<p style="font-size:18px;margin-bottom: 0px;">
  <font color="black">
    <b>Sense, Imagine, Act: Multimodal Perception Improves Model-Based
      Reinforcement Learning for Head-to-Head Autonomous Racing</b>
  </font>
  <br>
  <i>arXiv:2305.04750</i>
  <br>
  Shrestha, E., Reddy, C., Wan, H., <b>Zhuang, Y.</b>, & Vasudevan, R.
</p>
<table class="projects">
  <tbody>
    <tr>
      <td>
        <div class="project_cell">
          <img src="assets/img/ral_2023.png" width="250" class="zoom" onmouseover="this.src='assets/img/ral_2023.png'"
            onmouseout="this.src='assets/img/ral_2023.png'">
        </div>
        <div class="project_cell">
          [<a href="assets/videos/racing_overtake.mp4" target="_blank">
            Video
          </a>]
          [<a href="https://arxiv.org/abs/2305.04750" target="_blank">
            PDF
          </a>]
          [<a href="assets/img/multi_dreamer.png" target="_blank">
            Multimodal Dreamer
          </a>]
          <br>
          <p>
            We present a multimodal perception system combining egocentric LiDAR and RGB camera improves robustness of
            the world model without requiring additional training data.
            The resulting multimodal Dreamer agent safely avoided collisions and won the most races compared to other
            tested baselines in zero-shot head-to-head autonomous racing.
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- !Height Control for Wheeled-Bipedal Robots -->
<p style="font-size:18px;margin-bottom: 0px;">
  <font color="black">
    <b>Height Control and Optimal Torque Planning for Jumping with Wheeled-Bipedal Robots</b>
  </font>
  <br>
  <i>International Conference on Advanced Robotics and Mechatronics</i>. IEEE. 2021
  <br>
  <b>Zhuang, Y.</b>, Xu, Y., ... & Fu, C.
</p>
<table class="projects">
  <tbody>
    <tr>
      <td>
        <div class="project_cell">
          <link rel="preload" as="image" href="assets/img/ARM2021_4.jpg" media="(max-width: 250px)">
          <img src="assets/img/ARM2021.jpg" width="250" class="zoom" onmouseover="this.src='assets/img/ARM2021_4.jpg'"
            onmouseout="this.src='assets/img/ARM2021.jpg'">
        </div>
        <div class="project_cell">
          <img alt="GitHub Repo stars"
            src="https://img.shields.io/github/stars/silvery107/wheeled-bipedal-jumping?style=plastic&logo=github">
          [<a href="https://github.com/silvery107/wheeled-bipedal-jumping" target="_blank">
            Code
          </a>]
          [<a href="assets/videos/ARM2021_Video.mp4" target="_blank">
            Video
          </a>]
          [<a href="https://ieeexplore.ieee.org/document/9536196" target="_blank">
            PDF
          </a>]
          <br>
          <p>
            We present a wheeled-bipedal jumping dynamical (W-JBD) model to optimize the height control,
            and the Bayesian optimization for torque planning (BOTP) method based on a joint
            optimization framework for torque planning to achieve accurate height control and minimal energy
            cost.
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
