<table class="projects">
  <tbody>
    <!-- ! UW-Stereo -->
    <tr><td>
      <div class="project_cell">
        <!-- <img src="assets/img/stack_16_high_crop.gif" height="190" class="zoom"> -->
        <img src="assets/img/SurfSLAM_Fig1_V2.png" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black">
              <b>SurfSLAM: Sim-to-Real Underwater Stereo Reconstruction For Real-Time SLAM</b>
          </font>
        </p>
        <p>
          [<a href="https://umfieldrobotics.github.io/SurfSLAM/" target="_blank">Website</a>]
          [<a href="https://www.arxiv.org/abs/2601.10814" target="_blank">Paper</a>]
          <br>
          <i>arXiv preprint</i>
          <br>
          Onur Bagoren*, Seth Isaacson*, Sacchin Sundar, <b>Yung-Ching Sun</b>, Anja Sheppard, Haoyu Ma, Abrar Shariff, Ram Vasudevan, and Katherine A. Skinner
        </p>
      </div>
    </td></tr>
    <!-- ! Spot -->
    <tr><td>
      <div class="project_cell">
        <!-- <img src="assets/img/stack_16_high_crop.gif" height="190" class="zoom"> -->
        <img src="assets/img/spot_sequence_2.png" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black">
              <b>Key Capabilities of Autonomous Mobile Platforms for Maintenance and Monitoring in Manufacturing Environments</b>
          </font>
        </p>
        <p>
          [<a href="docs/ICRA_2025_Spot_Poster.pdf" target="_blank">Poster</a>]
          [<a href="docs/ICRA_2025_Spot_Paper.pdf" target="_blank">Paper</a>]
          [<a href="docs/ECE_599_Spot_Final_Report.pdf" target="_blank">My Final Report</a>]
          <br>
          <i>Late Breaking Results & Workshop on The Future of Intelligent Manufacturin, ICRA 2025</i>
          <br>
          <b>Yung-Ching Sun*</b>, Samantha Staudinger*, Hanna Chapin, Alyssa Carter, Kira Barton, Dawn Tilbury
        </p>
      </div>
    </td></tr>
    <!-- ! Adaptive Mesh Refinement-->
    <tr><td>
      <div class="project_cell">
        <!-- <video src="assets/videos/ee346-demo.mp4" width="250" controls muted autoplay loop></video> -->
         <img src="assets/img/AMR_results.jpg" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black">
              <b>A Hybrid Acceleration for Self-Gravity Calculation in Infinitesimally Thin Disks with Adaptive Mesh Refinement</b>
          </font>
          <!-- <br>
          <i><font color="red"><b>NVIDIA Robotics Featured</b></font></i> -->
        </p>
        <p>
          <i>The Astrophysical Journal Supplement Series (Under review)</i>
          <br>
          Chien-Chang Yen, <b>Yung-Ching Sun</b>, Yao-Huan Tseng, Hsien Shang
          <!-- <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/silvery107/ee346-capstone-control?style=plastic&logo=github"> -->
          <!-- [<a href="https://github.com/ycsun2113/Anytime_Nonparametric_Astar" target="_blank">
            Code
          </a>]
          [<a href="docs/ROB_422_Report.pdf" target="_blank">
            Report
          </a>] -->
          <!-- <br>
          Implemented and evaluated A* and ANA* algorithms for PR2 robot navigation, 
          developing custom heuristic functions and 3D PyBullet environments to benchmark performance. 
          Demonstrated ANA*'s ability to rapidly produce suboptimal paths and iteratively reach optimal solutions, 
          outperforming A* across varied scenarios. -->
        </p>
      </div>
    </td></tr>
  </tbody>
</table>


<!-- !Spot -->
<!-- <p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>Key Capabilities of Autonomous Mobile Platforms for Maintenance and Monitoring in Manufacturing Environments</b>
    </font>
    [<a href="docs/ICRA_2025_Spot_Poster.pdf" target="_blank">Poster</a>]
    <br>
    <i>Late Breaking Results, ICRA 2025</i>
    <br>
    <b>Yung-Ching Sun*</b>, Samantha Staudinger*, Hanna Chapin, Alyssa Carter, Kira Barton, Dawn Tilbury
</p>

<p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>Key Capabilities of Autonomous Mobile Platforms for Maintenance and Monitoring in Manufacturing Environments</b>
    </font>
    [<a href="docs/ICRA_2025_Spot_Paper.pdf" target="_blank">Paper</a>]
    <br>
    <i>Workshop on The Future of Intelligent Manufacturin, ICRA 2025</i>
    <br>
    Samantha Staudinger*, <b>Yung-Ching Sun*</b>, Hanna Chapin, Alyssa Carter, Kira Barton, Dawn Tilbury
</p>
<table class="projects">
    <tbody>
        <tr><td>
            <div class="project_cell">
                <img src="assets/img/spot_sequence.png" width="250" class="zoom">
            </div>
            <div class="project_cell">
                [<a href="docs/ICRA_2025_Spot_Paper.pdf" target="_blank">
                  Paper
                </a>]
                [<a href="docs/ICRA_2025_Spot_Poster.pdf" target="_blank">
                  Poster
                </a>]
            </div>
        </td></tr>
    </tbody>
</table> -->


<!-- !Adaptive Mesh Refinement -->
<!-- <p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>A Hybrid Acceleration for Self-Gravity Calculation in Infinitesimally Thin Disks with Adaptive Mesh Refinement</b>
    </font>
    <br>
    <i><font color="red"><b>NVIDIA Robotics Featured</b></font></i>
    <br>
    <i>The Astrophysical Journal Supplement Series (Under review)</i>
    <br>
    Chien-Chang Yen, <b>Yung-Ching Sun</b>, Yao-Huan Tseng, Hsien Shang
</p>
<table class="projects">
    <tbody>
        <tr><td>
            <div class="project_cell">
                <img src="assets/img/AMGR3D.png" width="250" class="zoom">
            </div>
            <div class="project_cell">
                <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/umfieldrobotics/OceanSim?style=plastic&logo=github">
                [<a href="https://github.com/umfieldrobotics/OceanSim#" target="_blank">
                    Code
                </a>]
                [<a href="https://umfieldrobotics.github.io/OceanSim/" target="_blank">
                    Web
                </a>]
                [<a href="https://doi.org/10.48550/arXiv.2503.01074" target="_blank">
                    PDF
                </a>]
                [<a href="https://www.linkedin.com/posts/jingyu-song-93763a132_robotics-underwaterrobotics-simulation-activity-7313545874091958272-qnwC?utm_source=share&utm_medium=member_desktop&rcm=ACoAACP_PewBWohb_VVSmFLeoIVerG8bffy0KbQ" target="_blank">
                    Media
                </a>]
                <br>
                <p>
                    We propose OceanSim, a high-fidelity GPU-accelerated underwater simulator built upon Isaac Sim for underwater robots applications.
                    We leveraged advanced physics-based rendering and GPU computation to reduce the sim-to-real gap for common underwater sensors and fast SDG. 
                </p>
            </div>
        </td></tr>
    </tbody>
</table> -->

