<!-- !Adaptive Mesh Refinement -->
<p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>A Hybrid Acceleration for Self-Gravity Calculation in Infinitesimally Thin Disks with Adaptive Mesh Refinement</b>
    </font>
    <!-- <br>
    <i><font color="red"><b>NVIDIA Robotics Featured</b></font></i> -->
    <br>
    <i>The Astrophysical Journal Supplement Series (Under review)</i>
    <br>
    Chien-Chang Yen, <b></b>Yung-Ching Sun</b>, Yao-Huan Tseng, and Hsien Shang
</p>
<!-- <table class="projects">
    <tbody>
        <tr><td>
            <div class="project_cell">
                <img src="assets/gif/oceansim_demo.gif" width="250" class="zoom">
            </div>
            <div class="project_cell">
                <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/umfieldrobotics/OceanSim?style=plastic&logo=github">
                [<a href="https://github.com/umfieldrobotics/OceanSim#" target="_blank">
                    Code
                </a>]
                [<a href="https://umfieldrobotics.github.io/OceanSim/" target="_blank">
                    Web
                </a>]
                [<a href="https://doi.org/10.48550/arXiv.2503.01074" target="_blank">
                    PDF
                </a>]
                [<a href="https://www.linkedin.com/posts/jingyu-song-93763a132_robotics-underwaterrobotics-simulation-activity-7313545874091958272-qnwC?utm_source=share&utm_medium=member_desktop&rcm=ACoAACP_PewBWohb_VVSmFLeoIVerG8bffy0KbQ" target="_blank">
                    Media
                </a>]
                <br>
                <p>
                    We propose OceanSim, a high-fidelity GPU-accelerated underwater simulator built upon Isaac Sim for underwater robots applications.
                    We leveraged advanced physics-based rendering and GPU computation to reduce the sim-to-real gap for common underwater sensors and fast SDG. 
                </p>
            </div>
        </td></tr>
    </tbody>
</table> -->
